.detail-post-container {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    padding: 5rem 5rem 5rem 5rem;
}

.picture-description-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
    padding: 2rem;
}

.comentary-container h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

.comentary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);

    padding: 1rem;
    position: relative;
}

/* .comentary-container::before {
    content: "";
    background-color: grey;
    width: 90%;
    height: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
} */

.detail-picture {
    background-color: white;
    height: 100%;
    width: 30rem !important;
    max-width: 60rem;
}

.description-container {
    background-color: white;
}

.description-container p{
    background-color: white;
}

.picture-container {
    background-color: white;
}

.commentary-div {
    display: flex;
    border: 1px solid rgb(182, 237, 255);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
    border-radius: 5px;
    flex-direction: column;
    padding: .5rem;
    margin-top: 1rem;
}

.commentary-user {
    font-weight: bold;
    font-size: 16px;
}

.commentary {
    font-size: 15px;
    color: rgb(144, 138, 138);
}

.commentary-input-container {
    padding: 1rem 0 .5rem 0;
}

.commentary-input-container .MuiButton-textSizeMedium:hover {
    background-color: #185EA5;
}

.commentary-input-container .MuiTextarea-sizeMd:focus-within {
    --Textarea-focusedHighlight: none;
}

.commentary-input-container .MuiFormControl-root {
    width: 100% !important;
}