.container-header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.3rem;
    background-color: white;
}

.navbar-container {
    background-color: white;
}

.logo-container a{
    background-color: white;
}


.navbar-list {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: white;
}

.navbar-list li {
    text-decoration: none;
    list-style-type: none;
}

.navbar-list li a {
    text-decoration: none;
    color: black;
    background-color: white;
}

.profile-pic-nav {
    border-radius: 50px;
    height: 45px;
    width: 45px;
}