.postform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.postform-container select {
    min-width: 162px;
}

.postform-container input {
    min-width: 162px;
}

.map-location-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.map-location-container input {
    width: 30%;
}

.search-list-ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid black;
    padding: 1rem;
    cursor: pointer;
}

.search-list-ol:last-child {
    border-bottom: none;
}


.search-list {
    border: 1px solid black;
    position: absolute;
    z-index: 10000;
    width: 100%;
    background-color: white;
}

.input-list-location-container input{
    width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.input-list-location-container {
    position: relative;
    width: 100%;
}

.search-list.hidden {
    display: none;
  }